<div class="min-h-screen py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-bold text-base-content">Lista de Tareas</h1>
      <button class="btn btn-active" (click)="openModal()">Agregar nota</button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="card bg-base-300 shadow-xl transition-transform duration-200 hover:scale-105 hover:shadow-2xl cursor-pointer"
        *ngFor="let task of tasks; let i = index" (click)="editTask(i)">
        <div class="card-body">
          <h2 class="card-title font-bold">
            {{ task.title }}
          </h2>
          <p>{{ task.description }}</p>
          <div class="flex items-center text-sm text-base-content">
            <span class="material-icons h-8 w-5 mr-3 mt-2">calendar_today</span>
            {{ task.date }}
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline" [ngClass]="{
                'badge-primary': task.state === 1,
                'badge-error': task.state === 0
              }">
              {{ task.state === 1 ? 'Completada' : 'Pendiente' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para agregar o modificar tarea -->
  <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-base-100 p-6 rounded-lg shadow-xl w-full max-w-lg">
      <h2 class="text-2xl font-bold mb-4">{{ editingTaskIndex !== null ? 'Modificar tarea existente' : 'Agregar nueva tarea' }}</h2>
      <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
        <div class="card bg-base-300 shadow-xl rounded-lg">
          <div class="card-body p-6">
            <h1 class="text-xl text-base-content mb-1">Título</h1>
            <input type="text" class="input input-bordered w-full text-base-content"
              placeholder="Escribe el título de la tarea" formControlName="title" />
            <div
              *ngIf="taskForm.get('title')?.invalid && (taskForm.get('title')?.touched || taskForm.get('title')?.dirty)"
              class="text-red-500">
              El título es obligatorio.
            </div>
            <input type="number" class="input input-bordered w-full text-base-content"
              value="1" formControlName="activeTodo" readonly hidden/>

            <h1 class="text-xl text-base-content mb-1 mt-4">Descripción</h1>
            <textarea class="textarea textarea-bordered text-base-content h-35 w-full" rows="4" placeholder="Descripción de la tarea"
              formControlName="description"></textarea>
            <div *ngIf="taskForm.get('description')?.invalid && (taskForm.get('description')?.touched || taskForm.get('description')?.dirty)" class="text-red-500">
              La descripción es obligatoria.
            </div>

            <h1 class="text-xl text-base-content mb-1 mt-4">Fecha</h1>
            <input type="date" class="input input-bordered text-base-content" formControlName="date" />
            <div *ngIf="taskForm.get('date')?.invalid && (taskForm.get('date')?.touched || taskForm.get('date')?.dirty)"
              class="text-red-500">
              La fecha es obligatoria.
            </div>

            <h1 class="text-xl text-base-content mb-1 mt-4">Estado</h1>
            <select class="select select-bordered text-base-content w-full" formControlName="state">
              <option value="0">Pendiente</option>
              <option value="1">Completada</option>
            </select>

            <div class="card-actions mt-4 items-center">
              <button class="btn btn-primary w-full" [disabled]="taskForm.invalid">Guardar tarea</button>
              <button class="btn btn-warning w-50% mt-2" [disabled]="taskForm.invalid" (click)="deleteTask()">Eliminar tarea</button>
            </div>
          </div>
        </div>
        <button class="btn btn-outline mt-4 ml-5" (click)="closeModal()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
