<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Registrate ahora!</h1>
      <p class="py-6">
        Registrate para poder acceder al mejor sitio de manejo de notas.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body" (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="Ingresa tu email" class="input input-bordered" required name="email" formControlName="email"/>
          <div *ngIf="registerForm?.get('email')?.invalid && registerForm?.get('email')?.touched" class="text-red-500 text-sm">
            El email es inválido.
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Nombre</span>
          </label>
          <input type="text" placeholder="Ingresa tu nombre de usuario" class="input input-bordered" required name="name" formControlName="name"/>
          <div *ngIf="registerForm?.get('name')?.invalid && registerForm?.get('name')?.touched" class="text-red-500 text-sm">
            El nombre es requerido.
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label>
          <input type="password" placeholder="Ingresa tu contraseña" class="input input-bordered" required name="password" formControlName="password"/>
          <div *ngIf="registerForm?.get('password')?.invalid && registerForm?.get('password')?.touched" class="text-red-500 text-sm">
            La contraseña es requerida.
          </div>
          <label class="label">
            <a routerLink="/user/login" class="label-text-alt link link-hover">¿Ya tienes cuenta, Inicia Sesión</a>
          </label>
          <div *ngIf="errorMessage" class="label text-xs text-warning">{{ errorMessage }}</div>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>