<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Editar usuario</h1>
      <p class="py-6">
        Mantener tus datos actualizados es importante para nosotros.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form [formGroup]="updateForm" (ngSubmit)="update()" class="card-body">
        <!-- Email Field -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" formControlName="email" placeholder="Ingresa tu email" class="input input-bordered" required name="email"/>
          <div *ngIf="updateForm?.get('email')?.invalid && updateForm?.get('email')?.touched" class="text-red-500 text-sm">
            El email es inválido.
          </div>
        </div>

        <!-- Nombre Field -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Nombre</span>
          </label>
          <input type="text" formControlName="name" placeholder="Ingresa tu nombre de usuario" class="input input-bordered" required name="name" />
          <div *ngIf="updateForm?.get('name')?.invalid && updateForm?.get('name')?.touched" class="text-red-500 text-sm">
            El nombre es requerido.
          </div>
        </div>

        <!-- Contraseña Field -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Actualizar contraseña</span>
          </label>
          <input type="password" formControlName="password" placeholder="Ingresa tu nueva contraseña" class="input input-bordered" required name="password" />
          <div *ngIf="updateForm?.get('password')?.invalid && updateForm?.get('password')?.touched" class="text-red-500 text-sm">
            La contraseña es requerida.
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-control mt-6">
          <button class="btn btn-primary" [disabled]="updateForm.invalid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
