<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/notes">ToDoList</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <!-- Mostrar solo si el usuario está autenticado -->
      <li *ngIf="isAuthenticated">
        <a routerLink="/notes">Notas</a>
      </li>
      <!-- Mostrar el menú desplegable con el nombre del usuario -->
      <li *ngIf="isAuthenticated">
        <details>
          <summary>{{ userName }}</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a routerLink="/user/profile">Ajustes</a></li>
            <li><a (click)="logout()">Salir</a></li>
          </ul>
        </details>
      </li>
    </ul>
    <!-- Mostrar botón de UserDemo si no está autenticado -->
    <button class="btn btn-xs sm:btn-sm md:btn-md btn btn-active" 
            *ngIf="!isAuthenticated" 
            routerLink="/user" 
            (click)="userDemo()" 
            [disabled]="isSubmitting">
      UserDemo
    </button>
  </div>
</div>
