<div class="min-h-screen py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <div class="card bg-base-300 shadow-xl rounded-lg">
      <div class="card-body p-6">
        <h1 class="text-5xl font-bold mb-2">ToDo</h1>
        <h1 class="text-xl text-base-content mb-1">Titulo</h1>
        <div class="flex justify-between items-start mb-4">
          <!-- Título o Input para editar título -->
          <input type="text" class="input input-bordered w-full " placeholder="Escribe el titulo de la nota" />
        </div>
        <!-- Descripción o Textarea para editar descripción -->
        <h1 class="text-xl text-base-content mb-1">Descripción</h1>
        <div class="mb-1">
          <textarea class="textarea textarea-bordered h-35 w-full" rows="4"
            placeholder="Descripción de la tarea"></textarea>
        </div>

        <!-- Fecha o Input para editar fecha -->
        <h1 class="text-xl text-base-content mb-1">Fecha</h1>
        <div class="flex items-center text-sm text-white mb-4">
          <input type="date" class="input input-bordered text-base-content">
        </div>

        <!-- Selector de estado (solo visible en edición) -->
        <h1 class="text-xl text-base-content mb-1">Estado</h1>
        <div class="mb-4">
          <select class="select select-bordered text-base-content w-full">
            <option value="pending">Pendiente</option>
            <option value="completed">Completada</option>
          </select>
        </div>
      </div>
      <!-- Footer con estado y botón de editar/guardar -->
      <div class="card-actions px-6 py-4">
        <button class="btn btn-primaty">
          Guardar nota
        </button>
      </div>
    </div>
  </div>
</div>